/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

html, body {
  height: 400px;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

/*.link {
  font-family: 'Roboto';
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 7px;
  border-radius: 7px;
}

.link:hover {
  background-color: #fffaf0;
}*/

.wrapper {
  margin: 10px;
}
