@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body {
  height: auto;
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #33C3F0;
  color: white;
  border: none;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

h2 {
    margin-top: 0;
}

.history {
  margin-top: 20px;
}

.wrapper {
  margin: 20px;
}
