html, body {
  height: 400px;
  width: 400px;
}

.link {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 7px;
  border-radius: 7px;
}

.link:hover {
  background-color: #fffaf0;
}
