@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  height: auto;
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #33c3f0;
  border-radius: 3px;
  color: white;
  border: none;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.fa-cog:hover {
  color: #33c3f0;
}

.fa-trash-o:hover {
  color: red;
  cursor: pointer;
}

.footer {
  position: fixed;
  height: 40px;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background-color: #fff;
}

.footer__author {
  width: 50%;
}

.footer__github {
  width: 55px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: #000;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
}

.header {
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.history {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  /*justify-content: space-between;*/
}

.visible {
  display: block;
}
