@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
  height: auto;
  width: 400px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #33C3F0;
  color: white;
  border: none;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.fa-trash-o:hover {
  color: red;
  cursor: pointer;
}

h2 {
    margin-top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history {
  margin-top: 20px;
}

.hidden {
  visibility: hidden;
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.visible {
  visibility: visible;
}
