.content-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.delete-button {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
