
.content-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #F2F2F2;
}

.content-container:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.col-1-1 {
  width: 16px;
  height: 16px;
  margin-right: 5px;

}

.col-1-2 {
  color: #099ecf;

}


.icon {
  width: 16px;
  height: 16px;

}

.row {
  display: flex;

}

.title {
  text-decoration: none;
}

.warning {
  font-size: 10px;
}
