.hide {
  visibility: hidden;
}

input {
  border: none;
}
input:focus {
  outline:none;
  border: none;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 0 10px;

}

.show {
  visibility: visible;
}
