.circle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  box-shadow: 6px 6px 18px 0 rgba(0,0,0,0.3);
  border-radius: 100%;
  background-color: #33C3F0;
  cursor: pointer;
  z-index: 99999;
}

.hidden {
  visibility: hidden;
}

.popup {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  padding: 10px 20px;
  right: 70px;
  top: 50%;
  color: #33C3F0;
  box-shadow: 6px 6px 18px 0 rgba(0,0,0,0.1);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: translate(0, -50%);
  border: 1px solid #f3f3f3;
}

.popup:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid white;

}

.popup-visibility-show {
  opacity: 1;
  visibility: visible;
  transition: all 0.35s ease;
}

.popup-visibility-hide {
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.x-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 2px;
  height: 20px;
  background-color: white;

}

.y-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 2px;
  background-color: white;
}
