@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.add-button {
  display: block;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  z-index: 99999;
  cursor: pointer;
}

/*.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.custom {
  color: #33C3F0;
}

.hidden {
  visibility: hidden;
}

.img-plus {
  width: 40px;
  height: 40px;
}

.visible {
  visibility: visible;
}
