@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.css');

.add-button {
  display: block;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  z-index: 99999;
  cursor: pointer;
}

.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33C3F0;
  width: 40px;
  height: 40px;
}

.hidden {
  visibility: hidden;
}

.img-plus {
  width: 40px;
  height: 40px;
}

.visible {
  visibility: visible;
}
